<div class="maintext">
	<div class="schedule">
	<h1>Schedule</h1>
		<section>
			<h3>10:00-10-15 Opening</h3>
			 <p><a href="http://twitter.com/kakutani"></a>@kakutani</a>: 開会の挨拶と諸注意など</p>
		</section>
		<section>
			<h3>10:15-10:45 招待講演</h3>
			 <p><a href="http://twitter.com/makoto_inoue">@makoto_inoue</a>:『A Rubyist life in London』</p>
		</section>
		<section>
			<h3>10:45-10:50 休憩</h3>
		</section>
		<section>
			<h3>10:50-12:00 Ninja Talks 1</h3>
			<p>
				<a href="http://twitter.com/takkanm">@takkanm</a>:<br>
				<a href="http://twitter.com/katsyoshi">@katsyoshi</a>: 『asakusa.rbに一年間通ったらこうなった』<br>
				<a href="http://twitter.com/mrkn">@mrkn</a>: 『某レシピ共有サイトの Ruby 1.9 対応で大変苦労しました』<br>
			</p>
		</section>
		<section>
			<h3>12:00-13:30 お昼休み</h3>
		</section>
		<section>
			<h3>13:30-14:00 基調講演1</h3>
			<p><a href="http://twitter.com/koichisasada">@koichisasada</a>: 『私がモテないのはどう考えてもGCが悪い！』</p>
		</section>
		<section>
			<h3>14:00-15:10 Ninja Talks 2</h3>
			<p>
				<a href="http://twitter.com/yuri_at_earth">@yuri_at_earth</a>:『RubyConfのNinjaの話の続きのおはなし』<br>
				<a href="http://twitter.com/morgan_randy">@morgan_randy</a>:『Travis-ciでのemberjsのi18n』<br>
				<a href="http://twitter.com/hsbt">@hsbt</a>: 『ぼくのかんがえたさいきょうのお問い合わせ管理システム』<br>
			</p>
		</section>
		<section>
			<h3>15:10-15:25 休憩</h3>
		</section>
		<section>
			<h3>15:25-15:55 基調講演2</h3>
			 <p><a href="http://twitter.com/a_matsuda">@a_matsuda</a>: 『Asakusa.rb vs. the World』</p>
		</section>
		<section>
			<h3>15:55-17:05 Ninja Talks 3</h3>
			<p>
				<a href="http://twitter.com/yuki24">@yuki24</a>: 『From 0 to 1: How to Get Involved in "Open Source"』<br>
				<a href="http://twitter.com/takeshinoda">@takeshinoda</a>: 『Rubyを始点としてもう一つのエンタープライズ開発を続けたあるSIerの事例』<br>
				<a href="http://twitter.com/yotii23">@yotii23</a>: 『Diversity is Good. RailsGirls Tokyoの取り組みと、そしてあなたがいつか得られるもの』<br>
			</p>
		</section>
		<section>
			<h3>17:05-17:35 招待講演2</h3>
			<p>
			 <a href="http://twitter.com/nari3">@nari3</a>: 『桐島、Rubyやめるってよ』
			</p>
		</section>
		<section>
			<h3>17:35-17:50 Closing</h3>
			<p>
				<a href="http://twitter.com/kakutani">@kakutani</a>: 閉会のご挨拶など
			</p>
		</section>
	</pre>
	</div>
</div>