<div class="maintext">
<h1>Schedule</h1>

<h2>タイムテーブル</h2>

<pre>
10:00-10-15 Opening
 - <a href="http://twitter.com/kakutani"></a>@kakutani</a>: 開会の挨拶と諸注意など
10:15-10:45 招待講演
 - <a href="http://twitter.com/makoto_inoue">@makoto_inoue</a>:『A Rubyist life in London』
10:45-10:50 休憩
10:50-12:00 Ninja Talks 1
 - <a href="http://twitter.com/takkanm">@takkanm</a>:
 - <a href="http://twitter.com/katsyoshi">@katsyoshi</a>: 『asakusa.rbに一年間通ったらこうなった』
 - <a href="http://twitter.com/mrkn">@mrkn</a>: 『某レシピ共有サイトの Ruby 1.9 対応で大変苦労しました』
12:00-13:30 お昼休み
13:30-14:00 基調講演1
 - <a href="http://twitter.com/koichisasada">@koichisasada</a>: 『私がモテないのはどう考えてもGCが悪い！』
14:00-15:10 Ninja Talks 2
 - <a href="http://twitter.com/yuri_at_earth">@yuri_at_earth</a>:『RubyConfのNinjaの話の続きのおはなし』
 - <a href="http://twitter.com/morgan_randy">@morgan_randy</a>:『Travis-ciでのemberjsのi18n』
 - <a href="http://twitter.com/hsbt">@hsbt</a>: 『ぼくのかんがえたさいきょうのお問い合わせ管理システム』
15:10-15:25 休憩
15:25-15:55 基調講演2
 - <a href="http://twitter.com/a_matsuda">@a_matsuda</a>: 『Asakusa.rb vs. the World』
15:55-17:05 Ninja Talks 3
 - <a href="http://twitter.com/yuki24">@yuki24</a>: 『From 0 to 1: How to Get Involved in "Open Source"』
 - <a href="http://twitter.com/takeshinoda">@takeshinoda</a>: 『Rubyを始点としてもう一つのエンタープライズ開発を続けたあるSIerの事例』
 - <a href="http://twitter.com/yotii23">@yotii23</a>: 『Diversity is Good. RailsGirls Tokyoの取り組みと、そしてあなたがいつか得られるもの』
17:05-17:35 招待講演2
 - <a href="http://twitter.com/nari3">@nari3</a>: 『桐島、Rubyやめるってよ』
17:35-17:50 Closing
 - <a href="http://twitter.com/kakutani">@kakutani</a>: 閉会のご挨拶など
</pre>
</div>