<h1>大江戸Ruby会議03</h1>

<h2>開催概要</h2>

<pre>
* 日時: 2013年03月16日(土)
* 場所: 深川江戸資料館小劇場
* 参加登録: 有料(2,000JPY;Doorkeeperでの申し込み), 未成年は無料です(<a href="http://asakusarb.doorkeeper.jp/group_contacts/new">フォーム</a>からお問い合わせください)
* 定員: 200名程度
* アクセス: 都営大江戸線清澄白河駅徒歩3分, <a href="http://www.kcf.or.jp/fukagawa/map.html">交通案内</a>
* ハッシュタグ: <a href="http://twitter.com/search?q=%23odrk03">#odrk03</a>
* Twitter: <a href="http://twitter.com/OedoRubyKaigi">@OedoRubyKaigi</a>
* Lanyrd: <a href="http://lanyrd.com/2013/oedorubykaigi">http://lanyrd.com/2013/oedorubykaigi</a>
* Past Oedo RubyKaigis: <a href="http://regional.rubykaigi.org/oedo01">oedo01</a>, <a href="http://regional.rubykaigi.org/oedo02">oedo02</a>
</pre>

<h2>参加登録</h2>
<a href="http://asakusarb.doorkeeper.jp/events/2737" class="doorkeeper-registration-widget">大江戸Ruby会議03</a>
<script src="https://d1dqic1fklzs1z.cloudfront.net/assets/widget.js" type="text/javascript"></script>

<h2>タイムテーブル</h2>

<pre>
10:00-10-15 Opening
 - @kakutani: 開会の挨拶と諸注意など
10:15-10:45 招待講演
 - @makoto_inoue:
10:45-10:50 休憩
10:50-12:00 Ninja Talks 1
 - @takkanm:
 - @katsyoshi:
 - @mrkn:
12:00-13:30 お昼休み
13:30-14:00 基調講演1
 - @koichisasada:
14:00-15:10 Ninja Talks 2
 - @yuri_at_earth:
 - @morgan_randy:
 - @hsbt:
15:10-15:25 休憩
15:25-15:55 基調講演2
 - @a_matsuda:
15:55-17:05 Ninja Talks 3
 - @yuki24:
 - @takeshinoda:
 - @yotii23:
17:05-17:35 招待講演2
 - @nari3:
17:35-17:50 Closing
 - @kakutani: 閉会のご挨拶など
</pre>

<h2>運営チーム</h2>
<pre>
* 実行委員長: @kakutani (Asakusa.rb)
* 会計: @hsbt (Asakusa.rb)
* レポート班:  @gunjisatoshi と @joker1007 と @hokkai7go
* @OedoRubyKaigiアイコン: @maicos
* 準備と運営: @takkanm とAsakusa.rbメンバー
</pre>

<h2>お問い合わせ</h2>
<pre>
<a href="http://asakusarb.doorkeeper.jp/group_contacts/new">お問い合わせフォーム</a>からお願いします。
</pre>
</pre>
