<h1>大江戸Ruby会議03</h1>

<p>
(Coming Soon)
</p>
<p>
Deails of this event will be coming soon. Stay tuned!
</p>
<p>
we're trying to keep our page on lanyrd.com being updated. so you can also check this out: <a href="http://lanyrd.com/2013/oedorubykaigi">http://lanyrd.com/2013/oedorubykaigi</a>
</p>

<h2>お問い合わせ</h2>
<p>
Feel free to contact us via e-mail, kakutani at rubykaigi dot org if you have any question about this regional RubyKaigi!
</p>
