<h1>大江戸Ruby会議03</h1>

<pre>
日時: 2013年03月16日
場所: 深川江戸資料館

タイムテーブル

司会: @kakutani

10:00-10-15 Opening - @kakutani
10:15-10:45 招待講演: @makoto_inoue
10:45-10:50 休憩
10:50-12:00 Ninja Talks 1 @yotii23 @katsyoshi @mrkn
12:00-13:30 お昼休み
13:30-14:00 基調講演1:  @koichisasada
14:00-15:10 Ninja Talks 2 @yuri_at_earth @morgan_randy @hsbt
15:10-15:25 休憩
15:25-15:55 基調講演2: @a_matsuda
15:55-17:05 Ninja Talks 3 @yuki24 @takeshinoda @nari3
17:05-17:20 Closing - @kakutani
<pre>

<p>
we're trying to keep our page on lanyrd.com being updated. so you can also check this out: <a href="http://lanyrd.com/2013/oedorubykaigi">http://lanyrd.com/2013/oedorubykaigi</a>
</p>

<h2>お問い合わせ</h2>
<p>
Feel free to contact us via e-mail, <b>kakutani at rubykaigi dot org</b> if you have any question about this regional RubyKaigi!
</p>
