@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import 'font-awesome';

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  display: block;
  background-image: url("bg.png");
  background-color: #bd1a21;
  color: #777;
}
a{
	color:#B74473;
	text-decoration: none;
}
a:hover{
	color:#577893;
	text-decoration: underline;
}
h1, h2 {
	font-size: 18px;
	color: #B41414;
}
div.centered{
		position: relative;
		overflow: hidden;
	nav {
		height: 37px;
		background-color: #270B0E;
		border-bottom: #DCEEF7 3px solid;
		font-family: 'Ubuntu Condensed', sans-serif;
		font-size: 24px;
		ul {
		position: relative;
		top:-24px;
		left: 50%;
		float: left;
		li {
			position: relative;
			left: -50%;
			float: left;
			width: 200px;
			list-style: none;
			a {
				display: block;
				height: 37px;
				text-align:center;
				color: #DCEEF7;
				text-decoration:none;
			}
			a:hover {
				background-color:#1D2B57; 
			}
		}
		li.active {
			background-color: #DCEEF7;
			a {
				color: #270B0E;
			}
			a:hover {
				color: #DCEEF7;
			}
		}
	}
	}
}
footer {
	background-color: #270B0E;
	border-top: #DCEEF7 3px solid;
	margin: 20 auto;
	margin-bottom: -24px;
	padding: 30px;
	div.centered{
		position: relative;
		overflow: hidden;
		section#contacts{
			height: 40px;
			ul{
				position: relative;
				left: 50%;
				float:left; 
				font-family: 'Ubuntu Condensed', sans-serif;
				font-size: 18px;
				list-style: none;
				color: #DCEEF7;
				li.contacts{
					position: relative;
					left: -50%;
					float:left; 
					margin: 0px 40px 0px 0px;
					width: 230px;
					height: 26px;
					border: solid 1px #A2D9F2;
					border-radius: 4px;
					text-align:center;
					i{
						margin-right: 5px;
						margin-left: -10px;
					}
					img{
						vertical-align:middle;
						margin-left: -10px;
					}
					a{
						color: #DCEEF7;
						text-decoration:none;
					}
				}
			}
		}
	}
	section#organized{
		text-align: center;
		margin: 0px auto;
		h2{
			color: #577893;
			margin-bottom: 0.5em;
		}
		div.members{
			width: 25%;
			text-align: center;
			padding-left: 2em;
			margin: 0px auto;
			display:-moz-box;
			display:-webkit-box;
			display:-o-box;
			display:-ms-box;
		}
		.organized{
			width: 50%;
			font-size: 12px;
			text-align: left;
			h3{
				color: #577893;
				font-size: 14px;
				margin-bottom: 0px;
			}
		}
	}
}

/*ここからトップページ*/
div.main_img{
	margin: 0px auto;
	margin-top: -44px;
	background-image: url(main_img.png);
	width: 1050px;
	height: 639px;
}
div.maintext{
	margin: 0px auto;
	padding: 30px 150px;
	width:750px;
	background-color: #fff;
	section{
		padding: 30px 5px;
		display:-moz-box;
		display:-webkit-box;
		display:-o-box;
		display:-ms-box;
		box-orient:horizontal;
		border-top: solid 3px #DCEEF7;
		h2{
			margin: 12px 0px;
			display: block;
			width: 30%;
			text-align: right;
		}
		p{
			display: block;
			width: 60%;
			padding-left: 36px;
			span.info{
				letters-spacing: 1px;
				color: #444;
				font-weight: bold;
				margin-right: 18px;
			}	
		}
	}
}
/*ここからschedule*/
div.schedule{
	h1{
		border-bottom: 3px solid black;
	}
	section{
		padding:5px;
		display:-moz-box;
		display:-webkit-box;
		display:-o-box;
		display:-ms-box;
		box-orient:horizontal;
		border-top: none;
		border-bottom: solid 1px #DCEEF7;
		font-size:14px; 
		h3{
			margin-top: 3px;
			font-size: 14px;
			display: block;
			width: 30%;
		}
		p{
			width:70%;
			margin: 3px;
		}
	}
}
